* {
    padding: 0;
    margin: 0;
    list-style: 0;
    outline: none;
    border: none;

    --webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #f9f9f9;
}

/*
 * sylesheet to login pages
*/

body#background {
    background-image: url('../imgs/img-login.jpg');
}

section#conteudo-view {
    position: absolute;
    right: 0;
    padding: 20px;
    float: right;
    width: 300px;
    height: 100%;
    background: #51dca6;
}

section#conteudo-view h1 {
    float: left;
    width: 100%;
    font: 2.3em 'Fredoka One', cursive;
    color: #f3f3f3;
    margin-top: 50px;
}

section#conteudo-view h3,
section#conteudo-view form p {
    float: left;
    width: 100%;
    font: 1em 'Fredoka One', cursive;
    color: #f3f3f3;
}

section#conteudo-view form,
section#conteudo-view form form label {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

section#conteudo-view form {
    margin-top: 40px;
}

section#conteudo-view form p {
    font-size: 1.23em;
    text-align: center;
    margin-bottom: 10px;
}
section#conteudo-view form input[type="submit"],
section#conteudo-view form label input {
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 2px solid #52ca9b;
    color: #959595;
    font: 1em 'Arial';
    margin-top: 20px;
}

section#conteudo-view form input[type="submit"] {
    margin-top: 20px;
    background: #00ff9c;
    color: #f3f3f3;
    font: 1.2em 'Fredoka One', cursive;
    cursor: pointer;
}

/**
    * Stylesheet to menu lateral
    

*/

#main{
    position: fixed;
    float: left;
    width: 220px;
    height: 100%;
    background-color: #ffff;
    z-index: 5;
    border-right: 1px solid #e9e9e9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
#main ul,
#main ul li{
    float: left;
    width: 100%;
}

#main ul li a{
    float: left;
    width: 100%;
    height: 80px;
    color: #9c9c9c;
    border-bottom: 1px solid #e9e9e9;
    
}

#main ul li a i{
    float: left;
    height: 80px;
    width: 80px;
    color: inherit;
    text-align: center;
    line-height: 80px;
    font-size: 2em;
    transition: transform 0.3s ease-in-out;
}

#main ul li a h3{
    float: left;
    height: 80px;
    font: 1.25em/80px 'fredoka one', cursive;
    color: #9c9c9c;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}

#main ul li a:hover h3,
#main ul li a:hover i {
    transform: scale(1.15);
}

#main ul li a:hover{
    color: #00ff9c;
    
}

/*
    * Stylesheet master template
*/  

#view-conteudo{
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 240px;
    z-index: 1;
}

/*
    * Stylesheet Form
*/

form.form-padrao{
    float: left;
    width: 100%;
}

form.form-padrao label{
    float: left;
    width: 49%;
    height: 60px;
    padding: 7px 15px;
    border: 1px solid #e9e9e9;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

form.form-padrao label:nth-child(odd) {
    margin-left: 2%;
}

form.form-padrao label span{
    float: left;
    width: 100%;
    font: 400 .75em 'Arial';
    color: #c7c7c7;
    padding-bottom: 5px;
}

form.form-padrao label input {
    float: left;
    width: 100%;
    color: #5c5c5c;
    font: 400 1.25em 'Arial';
    background: transparent;
}

form.form-padrao label.submit{
    background: #0ad181;
    border-color: #0aaa67;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.submit{
    cursor: pointer;
}

form.form-padrao label.submit:hover{
    background-color: #0ad181b3;
}

form.form-padrao label.submit input{
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50px;
    color: #f9f9f9;
}

.default-table{
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 10px;
    font: 400 .9em 'Arial';
    color: #5c5c5c;
}

.default-table thead{
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 800;
}

.default-table thead tr{
    height: 50px;
}

.default-table tbody{
    height: 190px;
}

.message{
    margin-bottom: 20px;
}

.inline-form {
    display: inline-block; 
    margin-right: 0px;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}


.delete-button:hover {
    background-color: #e74c3cb3; 
}

.details-button{
    background-color: #0ad181;
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #0ad181b3; 
}

.details-button{
    background-color: #0ad181;
    text-decoration: none;
    color: white;
    padding: 10px 24.5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #0ad181b3; 
}


.product-button{
    background-color: #ffd700;
    text-decoration: none;
    color: white;
    padding: 10px 11px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #ffea00b3; 
}


.edit-button{
    background-color: #0a9fd1;
    text-decoration: none;
    color: white;
    padding: 10px 34.5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #0a9fd1b3; 
}